body{
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.seccion1{
	margin-top: 7rem;
}

.titulo1{
	font-weight: bold;
	font-size: 21px;
}

.olvido1{
	margin-top: 0.5rem;
}

.olvido1 a{
	font-weight: bold;
	font-size: 14px;
	color: red;
	cursor: pointer;
	text-decoration: none;
}

label{
	font-weight: bold;
}

.navbar-active{
	border-bottom: 2px solid green;
}

.navbar-active-a{
	font-weight: bold;
	font-size: 16px;
}

.nav-item{
	margin-right: 10px;
}

.seccion_slider{
	margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 70%;
}